:root {
  /* slate */
  --color-slate-50: #fafafa;
  --color-slate-100: #f4f4f5;
  --color-slate-200: #e4e4e7;
  --color-slate-300: #d4d4d8;
  --color-slate-400: #a1a1aa;
  --color-slate-500: #71717a;
  --color-slate-600: #52525b;
  --color-slate-700: #3f3f46;
  --color-slate-800: #27272a;
  --color-slate-900: #18181b;
  --color-slate-950: #09090b;

  /* sky */
  --color-sky-50: #f0f9ff;
  --color-sky-100: #e0f2fe;
  --color-sky-200: #bae6fd;
  --color-sky-300: #7dd3fc;
  --color-sky-400: #38bdf8; // used
  --color-sky-500: #0ea5e9; // used
  --color-sky-600: #0284c7; // used
  --color-sky-700: #0369a1; // used
  --color-sky-800: #075985;
  --color-sky-900: #0c4a6e;
  --color-sky-950: #082f49;

  /* light */
  --color-light-100: #fff;
}
