:root {
  --font-family-main: consolas, "Lato", "Times New Roman", serif;
  --font-family-text-redesigned: "Nunito Sans", sans-serif;
  --font-family-header-redesigned: "Roboto", sans-serif;

  // font-s
  --font-size-s: 12px;
  --font-line-s: 20px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  // font-m
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  // font-l
  --font-size-l: 18px;
  --font-line-l: 24px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  // font-xl
  --font-size-xl: 24px;
  --font-line-xl: 32px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  // font-xxl
  --font-size-xxl: 32px;
  --font-line-xxl: 40px;
  --font-xxl: var(--font-size-xxl) / var(--font-line-xxl) var(--font-family-main);

  // * redesigned
  // s
  --font-s-redesigned: var(--font-size-s) / var(--font-line-s) var(--font-family-text-redesigned);

  // m
  --font-m-redesigned: var(--font-size-m) / var(--font-line-m) var(--font-family-text-redesigned);

  // l
  --font-l-redesigned: var(--font-size-l) / var(--font-line-l) var(--font-family-header-redesigned);

  // xl
  --font-xl-redesigned: var(--font-size-xl) / var(--font-line-xl) var(--font-family-header-redesigned);

  // xxl
  --font-xxl-redesigned: var(--font-size-xxl) / var(--font-line-xxl) var(--font-family-header-redesigned);
}
