@import "./reset";
@import "./variables/global";
@import "./themas/dark";
@import "./themas/normal";
@import "./themas/orange";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    width: 100%;

    // &::-webkit-scrollbar-track {
    //     box-shadow: inset 0 0 6px var(--inverted-secondary-color);
    //     border-radius: 10px;
    //     background-color: var(--bg-color);
    // }

    // &::-webkit-scrollbar {
    //     width: 12px;
    //     background-color: var(--bg-color);
    // }

    // &::-webkit-scrollbar-thumb {
    //     border-radius: 10px;
    //     box-shadow: inset 0 0 6px var(--inverted-primary-color);
    //     background-color: var(--inverted-bg-color);
    // }
}
