.button {
    border: none;
    outline: none;
    background: none;
    text-align: center;

    &:hover {
        opacity: 0.8;
        fill-opacity: 0.8;
        stroke-opacity: 0.8;
    }
}

.clear {
    color: var(--primary-color);
}

.outline {
    padding: 10px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.outline-red {
    padding: 10px;
    border: 1px solid var(--red-light);
    color: var(--red-dark);
}

.clear-inverted {
    color: var(--inverted-primary-color);
}

.disabled {
    opacity: 0.7;
}
