.button {
    border: none;
    outline: none;
    background: none;
    text-align: center;
}

.clear {
    color: var(--primary-color);
}

.outline {
    padding: 10px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.clear-inverted {
    color: var(--inverted-primary-color);
}
