.sidebar {
  background: var(--bg-sidebar);
  width: 220px;
  height: 100%;
  border-radius: 32px;
  position: relative;
}

.logo {
  padding-top: 20px;
}

.items {
  margin-top: 40px;
}

.arrow {
  display: none;
}

.switchers {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
}

@media screen and (width <= 1240px) {
  .sidebar {
    width: 50px;
  }

  .arrow {
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 10;
    transform: rotate(-90deg);
  }

  .items {
    display: flex;
    align-items: center;
  }

  .switchers {
    flex-direction: column;
    align-items: center;
  }
}
