.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s ease 0s;

    img {
        width: 50px;
        height: 50px;
    }
}

.items {
    margin: 70px 20px 0;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }
}

.arrow {
    position: absolute;
    right: 40px;
    top: 30px;
}

.arrow-left,
.arrow-right {
    color: var(--bg-color);
    font-size: var(--font-line-l);
}

.arrow-left::after {
    content: "\276E";
}

.arrow-right::after {
    content: "\276F";
}
