.sidebar {
	height: calc(100vh - var(--navbar-height));
	width: var(--sidebar-width);
	background: var(--inverted-bg-color);
	position: relative;
	transition: width 0.3s ease 0s;

	img {
		width: 50px;
		height: 50px;
	}
}

.collapsed {
	width: var(--sidebar-width-collapsed);
}

.switchers {
	position: absolute;
	bottom: 20px;
	display: flex;
	justify-content: center;
	width: 100%;
}

.lang {
	margin-left: 20px;
}

.arrow {
	margin: 20px 0 0 20px;
}

.arrow-left,
.arrow-right {
	color: var(--bg-color);
	font-size: 2rem;
}

.arrow-left::after {
	content: "\276E";
}

.arrow-right::after {
	content: "\276F";
}
