.item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}

.active {
  background: linear-gradient(89.97deg, rgba(94, 211, 243, 0.3) 1.15%, rgba(94, 211, 243, 0) 99.97%);
  border-left: 2px solid var(--accent-redesigned);
}

@media screen and (width <= 1240px) {
  .item[data-collapsed="true"] {
    padding: 0 8px;

    .link {
      opacity: 0;
      width: 0;
      margin-left: 0;
      height: 0;
    }
  }
}
