.articles-page {
  min-height: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 50;
  padding: 8px;
}

@media screen and (width <= 972px) {
  .right {
    flex-direction: row;
    align-items: center;

    // justify-content: space-between;
  }
}
