.trigger {
  padding: 0 8px 0 16px;
  font-size: 0.875rem;
}

.options {
  background: var(--dark-bg-redesigned);
  position: absolute;
  z-index: 1000;
  border-radius: var(--radius-s);
}

.option {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
}

.selected {
  background: var(--light-bg-redesigned);
}
