.trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.options {
    background: var(--dark-bg-redesigned);
    position: absolute;
    z-index: 1000;
    border-radius: 12px;
    border: 1px solid var(--dark-bg-redesigned);
}

.option {
    padding: 10px 20px;
    display: flex;
}

.icon {
    fill: green;
    margin-left: 8px;
    display: inline-block;
}
