.article-details-page {
    min-height: 100%;
}

.comment-title {
    margin-top: 20px;
}

.recommendations {
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
