.app-dark-theme {
    --bg-color: #3e184d;
    --inverted-bg-color: #f9f4fb;
    --primary-color: #f9f4fb;
    --inverted-primary-color: #3e184d;
    --secondary-color: #e297c0;
    --inverted-secondary-color: #5a2270;
    --skeleton-color: #491c5a;
    --skeleton-shadow: #2f123a;
    --code-bg: #5b2371;
    --card-bg: #5b2371;
}
