.app.dark {
    --bg-color: #05052e;
    --inverted-bg-color: #eceee4;
    --primary-color: #fff;
    --inverted-primary-color: #372577;
    --secondary-color: #7859e9;
    --inverted-secondary-color: #372577;
}
