:root {
  --bg-color: #f9f4fb;
  --inverted-bg-color: #3e184d;
  --primary-color: #341541;
  --inverted-primary-color: #f9f4fb;
  --secondary-color: #8f5d78;
  --inverted-secondary-color: #fff;
  --skeleton-color: #f1edf3;
  --skeleton-shadow: rgb(216, 211, 211);
  --code-bg: #fff;
  --card-bg: #fff;
  --listbox-bg: #fff;

  // redesigned
  --dark-bg-redesigned: var(--color-light-100);

  // --bg-redesigned: linear-gradient(
  //   to top right,
  //   var(--color-sky-50) 0%,
  //   rgba(144, 165, 235, 0.425) 20%,
  //   var(--color-sky-200) 40%,
  //   var(--color-sky-100) 70%,
  //   var(--color-sky-200) 80%,
  //   rgba(144, 165, 235, 0.747) 90%,
  //   var(--color-sky-200) 100%
  // );

  --bg-redesigned: var(--color-slate-100);
  --bg-sidebar: var(--color-light-100);
  --bg-card-secondary: var(--color-slate-300);
  --bg-input: var(--color-slate-200);
  --light-bg-redesigned: var(--color-slate-200);
  --text-redesigned: var(--color-slate-950);
  --hint-redesigned: var(--color-slate-500);
  --cancel-redesigned: #f77;
  --save-redesigned: #62de85;
  --icon-redesigned: var(--color-sky-400);
  --accent-redesigned: var(--color-sky-500);
  --box-shadow: 0 2px 3px rgba(148, 163, 184, 0.165);
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --card-border: 1px solid var(--color-slate-200);
  --input-border: 1px solid var(--color-slate-300);
}
