.button {
  text-align: center;
  color: var(--text-redesigned);
  border-radius: var(--radius-m);
  padding: 6px 16px;
  gap: 6px;
  display: flex;
  align-items: center;
  transition:
    background-color 0.3s ease,
    opacity 0.3 ease,
    border-color 0.3 ease;

  &:focus-visible {
    outline: 2px solid var(--color-slate-600);
    outline-offset: 1px;
  }
}

.clear {
  padding: 0;
  border: none;
  background: none;

  &:hover {
    opacity: 0.7;
  }
}

.outline {
  background: none;
  border: 2px solid var(--icon-redesigned);

  &:hover {
    border-color: var(--accent-redesigned);
  }

  &.error {
    border: 2px solid var(--cancel-redesigned);
  }

  &.success {
    border: 2px solid var(--save-redesigned);
  }
}

.filled {
  color: var(--color-sky-50);
  background-color: var(--color-sky-600);
  outline: none;

  &:hover {
    background-color: var(--color-sky-700);
  }
}

// size

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

// mods

.disabled {
  opacity: 0.7;
}

.full-width {
  width: 100%;
}
