.addon-left svg,
.addon-right svg {
    color: var(--hint-redesigned);
}

.button {
    text-align: center;
    color: var(--text-redesigned);
    padding: 8px 16px;
    display: flex;
    align-items: center;

    &:hover {
        color: var(--accent-redesigned);

        .addon-left svg,
        .addon-right svg {
            color: var(--accent-redesigned);
        }
    }
}

.with-addon {
    padding: 0 16px;
}

.addon-left,
.addon-right {
    display: flex;
}

.clear {
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

.outline {
    background: none;
    border-radius: 34px;
}

.filled {
    background: var(--light-bg-redesigned);
    border: none;
    outline: none;
    border-radius: 34px;
}

// size

.m {
    font: var(--font-m-redesigned);
}

.l {
    font: var(--font-l-redesigned);
}

.xl {
    font: var(--font-xl-redesigned);
}

// mods

.disabled {
    opacity: 0.7;
}

.full-width {
    width: 100%;
}
