.card {
  box-shadow: var(--box-shadow);
  padding: 16px;
}

.primary {
  background: var(--bg-card-primary);
}

.secondary {
  background: var(--bg-card-secondary);
}

.max {
  width: 100%;
}

.round-s {
  border-radius: var(--radius-s);
}

.round-m {
  border-radius: var(--radius-m);
}

.round-l {
  border-radius: var(--radius-l);
}
