.card {
    padding: 24px;
}

.normal {
    background: var(--dark-bg-redesigned);
}

.light {
    background: var(--light-bg-redesigned);
}

.outlined {
    border: 1px solid var(--accent-redesigned);
}

.max {
    width: 100%;
}

.gap-0 {
    padding: 0;
}

.gap-8 {
    padding: 8px;
}

.gap-16 {
    padding: 16px;
}

.gap-24 {
    padding: 24px;
}

.round-12 {
    border-radius: 12px;
}

.round-20 {
    border-radius: 20px;
}

.round-40 {
    border-radius: 40px;
}
