.typography {
  color: var(--color-text-primary);
}

.h1 {
  font: var(--font-xxl-redesigned);
}

.h2 {
  font: var(--font-xl-redesigned);
}

.h3 {
  font: var(--font-l-redesigned);
}

.regular-text-16 {
  font: var(--font-m-redesigned);
}

.regular-text-12 {
  font: var(--font-s-redesigned);
}
