.layout {
  display: grid;
  gap: 8px;
  grid-template-areas: "content right";
  grid-template-columns: 1fr min-content;
}

.content {
  grid-area: content;
  max-width: 1200px;
  justify-self: center;
  width: 100%;
}

.right {
  grid-area: right;
  position: sticky;
  top: 16px;
  height: fit-content;
}

@media screen and (width <= 972px) {
  .layout {
    grid-template-areas:
      "right"
      "content";
    grid-template-columns: 1fr;
  }

  .right {
    top: 0;
  }
}
