.layout {
  display: grid;
  height: 100%;
  gap: 8px;
  grid-template-areas: "content right";
  grid-template-columns: 1fr min-content;
}

.content {
  grid-area: content;
}

.right {
  grid-area: right;
  position: sticky;
  top: calc(var(--navbar-height) + 16px);
  height: fit-content;
}

@media screen and (width <= 972px) {
  .layout {
    grid-template-areas:
      "right"
      "content";
    grid-template-columns: 1fr;
  }

  .right {
    top: var(--navbar-height);
  }
}
